<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.envirogreen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnviroGreen">

        <activity
            android:name=".Pots.PopPot"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Pots.Metalpot"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Pots.Magneticsucculent"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Pots.Cylinderpot"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Pots.Ceramicpot"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Activities.Pots"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".seeds.SunflowerSeeds"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".GardeningToolls.WaterHose"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".GardeningToolls.Wheelbarrow"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".GardeningToolls.Loppers"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".GardeningToolls.Spad"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".GardeningToolls.Rake"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".GardeningToolls.HandTrowel"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".seeds.PumpkinSeeds"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".seeds.SesameSeeds"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".seeds.HempSeeds"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".seeds.ChiaSeeds"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".seeds.Flaxseeds"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Activities.SeedsPlant"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Fertiliser.CompleteFertilizer"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Fertiliser.CompoundFertilizers"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Fertiliser.PotassiumFertilizers"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Fertiliser.PhosphateFertilizers"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Fertiliser.NitrogenFertilizers"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Activities.Fertiliser"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".FlowerPlants.Tulip"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".FlowerPlants.Lilium"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".FlowerPlants.Delphiniums"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".FlowerPlants.Dahlia"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".FlowerPlants.Narcissus"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".FlowerPlants.Chrysanthemum"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Activities.FlowerPlants"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".FruitPlant.PrunusAvium"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".FruitPlant.PassifloraEdulis"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".FruitPlant.FigFruit"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".FruitPlant.Cantaloupe"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".FruitPlant.Blueberry"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".FruitPlant.Apricot"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Activities.FruitPlant"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Activities.GardeningTools"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>